

:root {
  --c1: #001032;
  --c2: #002765;
  --c3: #043766;
  --c4: #75327b;
  --c5: #fd568f;
  --c6: #e81d4e;
  --c7: #fc2a50;
  --ctext: #fff;
   --hue: 180deg;
}


html{
  height: 100vh;
  overflow: hidden;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: var(--ctext);
  background-repeat: no-repeat;
  font-family: "Roboto Flex", sans-serif;
  font-size: .75rem;
  
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('essiboi.jpg') no-repeat center/cover;
    filter: hue-rotate(var(--hue)) saturate(200%) contrast(150%) brightness(120%);
    animation: trippy 5s linear infinite;
    z-index: -2;
}
/* body::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('essiboi-nobg.png') no-repeat center/cover;
    filter: hue-rotate(var(--hue)) saturate(200%) contrast(150%) brightness(120%);
    animation: trippy 5s linear infinite;
    z-index: -1;
} */



section p {
  font-weight: 100;
  color: #eeecec;
}

audio {
  display: none;
}

canvas#fireflies {
  /* background-color: rgba(0, 0, 0, 0.676); */
  position: absolute;
  inset: 0;
  z-index: -1;
}

main {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}
main > section {
  padding: 1rem 2rem;
}
.hero {
  margin: -1rem;
  padding: 0;
  position: relative;
  min-height: 70vh;
}



.hero article {
  padding: 2rem;
    z-index: 1;
  position: relative;
}


.hero article h1{
  font-size: 2rem;
}




.essiboi {
  width: 100%;
  height: 100%;
}

#featured {
  /* background-color: #000c; */
  background-color: rgba(0, 0, 0, 0.269);
  position: sticky;
  bottom: 0;
}

.featured-songs {
  list-style: none;
  padding: 0;
}

.track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff22;
  font-size: .65rem;
}

.track h3 {
  text-transform: uppercase;
}

.album-grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 110px;
  width: 100%;
  overflow: auto;
  gap: 1rem;
}

.album figure {
  margin: 0;
  position: relative;
}
.album img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.album figcaption {
  margin-left: 1px;
} 
footer {
  text-align: center;
  padding: 5em 4em; 
  font-size: .85rem;
}

footer h4 {
  margin-bottom: 2rem;
}

footer dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: .5rem;
  margin-bottom: 3rem;
  /* font-weight: 100; */
  text-shadow: 0 0 1px black;
}
footer dt {
  text-align: end;
}
footer dd {
  text-align: start;
  margin: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .socmed a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.playBtn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: hsl(var(--hue),50%,50%,.5);
  border: 2px solid hsl(var(--hue),50%,50%);
  color: #fff;
}
/* .playBtn::before {
  content: "";
  position: absolute;
  inset: 35px 35px 35px 40px;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  background: hsl(var(--hue),50%,50%);
} */

@media (min-width: 601px) {
    body{
        display: none;
    }
}